body {
    font-size: .8rem;
}

.radioButtonContainer {

    margin: 15px auto;

}
.input {
    margin: 10px auto;
}

.firstRadioButton {
    margin-top: 5px;
}

.radioGroupLabel {
    margin-bottom: 0;
}

h1 {
    font-size: 1.25rem;
}